@using CalisthenicsApp.ViewModels
@model UserDetailViewModel

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        Page Heading
        <small>Secondary Text</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            *<img class="img-fluid" src="@Model.ProfileImageUrl" alt="">*
        </div>
 
        <div class="col-md-4">
            <h3 class="my-3">UserName= @Model.UserName</h3>
            
             
             
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
   

</div>
<!-- /.container -->
